In [1]:
import pandas as pd

In [2]:
fraud=pd.read_csv("Fraud_check.csv")
fraud

,Undergrad,MaritalStatus,TaxableIncome,CityPopulation,WorkExperience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [3]:
fraud.shape

(600, 6)

In [4]:
fraud.isnull().sum()

Undergrad         0
MaritalStatus     0
TaxableIncome     0
CityPopulation    0
WorkExperience    0
Urban             0
dtype: int64

In [5]:
fraud.dtypes

Undergrad         object
MaritalStatus     object
TaxableIncome      int64
CityPopulation     int64
WorkExperience     int64
Urban             object
dtype: object

In [6]:
fraud.columns

Index(['Undergrad', 'MaritalStatus', 'TaxableIncome', 'CityPopulation',
       'WorkExperience', 'Urban'],
      dtype='object')

In [7]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
fraud["Undergrad"]=LE.fit_transform(fraud["Undergrad"])
fraud["MaritalStatus"]=LE.fit_transform(fraud["MaritalStatus"])
fraud["Urban"]=LE.fit_transform(fraud["Urban"])
fraud

,Undergrad,MaritalStatus,TaxableIncome,CityPopulation,WorkExperience,Urban
0,0,2,68833,50047,10,1
1,1,0,33700,134075,18,1
2,0,1,36925,160205,30,1
3,1,2,50190,193264,15,1
4,0,1,81002,27533,28,0
...,...,...,...,...,...,...
595,1,0,76340,39492,7,1
596,1,0,69967,55369,2,1
597,0,0,47334,154058,0,1
598,1,1,98592,180083,17,0
599,0,0,96519,158137,16,0

In [8]:
fraud["TI"]="risky"
fraud.loc[fraud.TaxableIncome<=30000,"TI"]="good"
fraud=fraud.drop(["TaxableIncome"],axis=1)
fraud

     Undergrad  MaritalStatus  CityPopulation  WorkExperience  Urban     TI
0            0              2           50047              10      1  risky
1            1              0          134075              18      1  risky
2            0              1          160205              30      1  risky
3            1              2          193264              15      1  risky
4            0              1           27533              28      0  risky
..         ...            ...             ...             ...    ...    ...
595          1              0           39492               7      1  risky
596          1              0           55369               2      1  risky
597          0              0          154058               0      1  risky
598          1              1          180083              17      0  risky
599          0              0          158137              16      0  risky

[600 rows x 6 columns]

In [9]:
fraud.TI.value_counts()

risky    476
good     124
Name: TI, dtype: int64

In [10]:
column_names=list(fraud.columns)
column_names

['Undergrad',
 'MaritalStatus',
 'CityPopulation',
 'WorkExperience',
 'Urban',
 'TI']

In [17]:
predictors = column_names[:5]
target = column_names[5]
from sklearn.model_selection import train_test_split
train,test = train_test_split(fraud,test_size = 0.2)

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
RF=RandomForestClassifier(n_jobs=3,oob_score=True,n_estimators=100,criterion="entropy")

In [21]:
RF.fit(train[predictors],train[target])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=3,
                       oob_score=True, random_state=None, verbose=0,
                       warm_start=False)

In [22]:
pred=RF.predict(test[predicator])

In [27]:
import numpy as np
np.mean(train.TI == RF.predict(train[predictors]))

1.0

In [28]:
from sklearn.ensemble import BaggingClassifier

In [29]:
BC=BaggingClassifier(base_estimator=RF,n_estimators=100,)
BC.fit(train[predictors],train[target])

BaggingClassifier(base_estimator=RandomForestClassifier(bootstrap=True,
                                                        class_weight=None,
                                                        criterion='entropy',
                                                        max_depth=None,
                                                        max_features='auto',
                                                        max_leaf_nodes=None,
                                                        min_impurity_decrease=0.0,
                                                        min_impurity_split=None,
                                                        min_samples_leaf=1,
                                                        min_samples_split=2,
                                                        min_weight_fraction_leaf=0.0,
                                                        n_estimators=100,
                                                        n_jobs=3,
                                                        oob_score=True,
                                                        random_state=None,
                                                        verbose=0,
                                                        warm_start=False),
                  bootstrap=True, bootstrap_features=False, max_features=1.0,
                  max_samples=1.0, n_estimators=100, n_jobs=None,
                  oob_score=False, random_state=None, verbose=0,
                  warm_start=False)

In [30]:
pred1=BC.predict(test[predicator])

In [32]:
np.mean(train.TI == RF.predict(train[predictors]))

1.0